body {
	font-size: 1.3em;
}

.multiple-choice-container {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	row-gap: 15px;
	column-gap: 10px;
	margin-top: 10px;
}

.multiple-choice-button {
	background-color: white;
	color: rgb(15, 17, 17);
	padding: 8px;
	border-radius: 15px;
	border-color: #c4c9cc;
	border-width: 1px;
	border-style: solid;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	visibility: visible;
}

.multiple-choice-button:hover {
	background-color: #dfe5e8;
}

/* Style applied to the clicked button if it contains the wrong answer */
.multiple-choice-wrong, .multiple-choice-wrong:hover {
	background-color: #FF999C;
	border-color: #d67e81;
}

/* Style applied to the button containing the correct answer */
.multiple-choice-correct, .multiple-choice-correct:hover {
	background: #89D979;
	border-color: #73b865;
}

/* Style applied to any clicked button in the front side */
.multiple-choice-selected, .multiple-choice-selected:hover {
	background-color: #cae0eb;
}

/* Keep this as is: HTML buttons are styled by anki and anki's browser engine so they can't be reliably used */
.multiple-choice-hidden {
	/* Override anki default style */
	all: unset !important;

	/* Only for Anki Mobile */
	-webkit-tap-highlight-color: transparent !important;

	/* Hide it */
	visibility: hidden !important;

}
